 *{margin:0px; padding:0px;}
    #message_area{background-color: white; width: 99%; border: 1px solid #5D055D; height: 480px;}
    .inner-border { 
                
                overflow-x: hidden; 
                overflow-y: scroll; 
            } 
         
            a{
              font-family: inherit;
              font-weight: 600;
              font-size: 20px;
              padding: 7px 7px;
              background-color: #5D055D;
              color: white;
              margin: 9px 0;
              border: none;
              border-radius: 4px;
              cursor: pointer;
        }

          .topnav {
            margin: 0px;
            overflow: hidden;
            background-color: #5D055D;
            position: relative;
          }

          .topnav #myLinks {
            display: none;
            background-color: #5D055D;
          }

          .topnav a {
            color: white;
            padding: 4px 10px;
            text-decoration: none;
            font-size: 20px;
            font-weight: 700;
            display: block;
          }

          .topnav a.icon {
            background: black;
            padding: 12px;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
          }

          .topnav a:hover {
             color: #fff;
            opacity: 0.5;
              font-size: 19px;
          }

          .active {
            background-color: #5D055D;
            color: white;
          }
          .sidepanel  {
            width: 0;
            position: fixed;
            z-index: 1;
            height: 90%;
            top: 0;
            left: 0;
            background-color: #5D055D;
            overflow-x: hidden;
            overflow-y: scroll; 
            transition: 0.5s;
            padding-top: 60px;
          }

          .sidepanel a {
            padding: 4px 4px 4px 25px;
            text-decoration: none;
            font-size: 20px;
            color: white;
            display: block;
            transition: 0.3s;
          }

          .sidepanel .closebtn {
            position: absolute;
            background-color: #5D055D;
            color: white;
            top: 0;
            right: 25px;
            font-size: px;
          }

          .openbtn {
            font-size: 15px;
            cursor: pointer;
            background-color: #5D055D;
            color: white;
            padding: 5px 10px;
            border: none;
          }
