
	 h2{
      color:#5D055D;
  }
  h1{
      color:#5D055D;
  }
  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
 input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color:  #5D055D;
  color: white;
  font-size: 20px;
  padding: 5px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #5D055D;
}

div {
  border-radius: 10px;
  background-color: #ffb3ec;
  padding: 2px;
}
.menu{
      width: 100%;
      background:#5D055D;
      overflow: auto;
    }
    .menu ul{
      margin: 0;
      padding:0;
      list-style: none;
      line-height: 30px;
    }
    .menu li{
      float: left;
    }
    .menu ul li a{
      background-color: #5D055D;
      text-decoration: none;
      width: 130px;
      display: block;
      text-align: center;
      color: #f2f2f2;
      font-size: 18px;
      font-family: sans-serif;
      letter-spacing: 0.5px;
    }
    .menu li a:hover{
      color: #fff;
      opacity: 0.5;
      font-size: 19px;
    }
		

   .messagetext{
  padding:9px 14px;
  font-size: 1.6rem;
  margin-bottom: 5px;
 }

 .messagetime{
  font-size: 1.3rem;
  color: #777;
 }

 .yourmessage{
  background:#F2BFF2;
  color: #eee;
  border: 1px solid #F2BFF2;
  border-radius: 14px 0px 0 10px;
  float: right;

 }

 .othermessage{
  background:#eee;
  color: #111;
  border: 0px solid #ddd;
  border-radius: 14px 14px 14px 0;
  float:left;
 }




	